.enquire-now-container {
  text-align: center;
}
.enquire-now {
  background-color: #00c2bd;
  padding: 1.2em 2.004em;
  text-align: center;
  text-decoration-line: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 0 2rem 2rem;
}

.enquire-now:hover {
  background-color: rgba(0, 194, 189, 0.75);
}
 